In [38]:
import random
import pandas as pd

def generate_random_coordinates(num_points, min_lat, max_lat, min_lon, max_lon):
    """Gera uma quantidade específica de coordenadas aleatórias dentro dos limites fornecidos."""
    coordinates = []
    for _ in range(num_points):
        lon = random.uniform(min_lat, max_lat)
        lat = random.uniform(min_lon, max_lon)
        coordinates.append((lat, lon))
    return coordinates

def save_coordinates_to_csv(coordinates, filename):
    """Salva as coordenadas em um arquivo CSV."""
    df = pd.DataFrame(coordinates, columns=['y', 'x'])
    df.to_csv(filename, index=False)

if __name__ == "__main__":
    # Defina os limites para as coordenadas
    min_lat, max_lat = 54.57552, 71.39066  # Limites de latitude para os EUA
    min_lon, max_lon = -130.09859, -168.12783     # Limites de longitude para os EUA

    # Defina a quantidade de coordenadas a serem geradas
    num_points = 50

    # Gere as coordenadas aleatórias
    coordinates = generate_random_coordinates(num_points, min_lat, max_lat, min_lon, max_lon)

    # Salve as coordenadas em um arquivo CSV
    save_coordinates_to_csv(coordinates, 'alaska_portals.csv')

    print(f"{num_points} coordenadas aleatórias foram geradas e salvas em 'random_coordinates.csv'.")

50 coordenadas aleatórias foram geradas e salvas em 'random_coordinates.csv'.

In [16]:
    file_paths = ['data/csv/ALASKA_CSV.csv',
                  'data/csv/BASE_CUBA_CSV.csv',
                  'data/csv/EUA_PONTOS_CSV.csv',
                  'data/csv/ILHA_OCEANO_CSV.csv']

In [17]:
eua = pd.read_csv('data/csv/EUA_PONTOS_CSV.csv')
alaska = pd.read_csv('data/csv/ALASKA_CSV.csv')
cuba = pd.read_csv('data/csv/BASE_CUBA_CSV.csv')
ilhas = pd.read_csv('data/csv/ILHA_OCEANO_CSV.csv')

In [37]:
print(alaska['x'].max())
print(alaska['x'].min())
print(alaska['y'].max())
print(alaska['y'].min())

-130.09859
-168.12783
71.39066
54.57552

In [12]:
eua_portals = pd.read_csv('data/csv/eua_portals.csv')

In [13]:
eua_portals

            x           y
0   35.386521  -76.129858
1   43.953979  -86.547916
2   26.126858 -114.076837
3   29.865678 -104.296332
4   37.621030  -84.579229
..        ...         ...
95  28.704014  -95.327147
96  25.938795  -94.546810
97  31.252929  -68.720356
98  31.134609 -111.900085
99  36.679349 -121.848737

[100 rows x 2 columns]